### Tuple(Sequence Data Type)

https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

**Immutable** in nature. Hence it has following advantage:

- By programming mistake we cannot change the value. For example, storing location by longitude and latitude, in list if we added some elements by mistake or removed some value then whole significance of location will be ruined. But this will not happen in case of tuple.
- Tuple can be used more efficiently, because list can grow but when we define the same in tuple the everything is fixed.

### Construct, Access

Defined exactly same as list, but instead of \[\] we use \(\)

In [2]:
employee = ("Koteshwar Rao", "29", "Finance", "5'8")
print(employee)

('Koteshwar Rao', '29', 'Finance', "5'8")

In [7]:
print("Employee Name={}".format(employee[0]))
print(employee[0:2])
print(employee[:-3])
print(employee[-1])

Employee Name=Koteshwar Rao
('Koteshwar Rao', '29')
('Koteshwar Rao',)
5'8

In [8]:
copied_employee = employee
print(copied_employee)

('Koteshwar Rao', '29', 'Finance', "5'8")

### Helping functions

In [10]:
print(len(employee))

4

### list to tuple and vice versa

In [9]:
new_employee = list(employee)
print(new_employee)
new_employee[1] = 28
new_employee1 = tuple(new_employee)
print(new_employee1)

['Koteshwar Rao', '29', 'Finance', "5'8"]
('Koteshwar Rao', 28, 'Finance', "5'8")